@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox の矢印を消す */
input[type='number'] {
  -moz-appearance: textfield;
}